# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  push:
    tags:
      - '*'

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Clean old build files
        working-directory: ./python
        run: |
          rm -rf build/ dist/ *.egg-info
      - name: Build package
        working-directory: ./python
        run: python setup.py sdist bdist_wheel
      - name: Check package
        working-directory: ./python
        run: twine check dist/*
      - name: Publish package
        working-directory: ./python
        uses: pypa/gh-action-pypi-publish@release/v1

